<div class="" style="padding-left: 10px;">
<small>
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>ID</th>
      <th>Location</th>
      <th>Tower Type</th>
      <th>Prop. Type</th>
      <th>Health</th>
      <th>Online</th>
      <th>Capacity</th>
    </tr>
  </thead>
  <tbody>
	  <tr data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><th scope="row"><a href="#asset">WA-DC-20027-05BT</a></th><td>20027</td><td>Base Transmitter Station</td><td>Leased</td><td>100%</td><td><span class="badge badge-success">Online</span></td><td>100%</td></tr>
    <tr><th scope="row">WA-DC-20029-600MT</th><td>20029</td><td>Monopole Tower</td><td>Ownered</td><td>100%</td><td><span class="badge badge-success">Online</span></td><td>79.99%</td></tr>
    <tr><th scope="row">WA-DC-20030-3LT</th><td>20030</td><td>Lattice Tower</td><td>Leased (Renewal pending)</td><td>79%</td><td><span class="badge badge-success">Online</span></td><td>52%</td></tr>
    <tr><th scope="row">WA-DC-20042-6-GT</th><td>20042</td><td>Guyed Tower</td><td>Leased</td><td>89%</td><td><span class="badge badge-success">Online</span></td><td>99.99%</td></tr>
    <tr><th scope="row">WA-DC-20056-7-CST</th><td>20056</td><td>Concealed/Stealth Towers</td><td>Leased</td><td>98%</td><td><span class="badge badge-success">Online</span></td><td>99.99%</td></tr>
    <tr><th scope="row">WA-DC-20056-8-BT</th><td>20056</td><td>Broadcast Towers</td><td>Owned</td><td>13%</td><td><span class="badge badge-danger">Offline</span></td><td>0.96%</td></tr>
  </tbody>
</table>
	</small>
</div>