<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container demo" style="height:100%; width: 100%">
<div class="message">
<h1>Sprynt Tower Manager&trade;</h1>
<p class="lead">Todays tower costs rise as customer satisfaction decreases. Stay ahead of<br>
the curve by decreasing tower maintenance requirements and increasing customer satisfaction.<br>
	<a class="btn btn-primary btn-lg" href="/about" role="button"><i class="fa fa-wifi fa-fw" aria-hidden="true"></i> Start monitoring »</a></p>
</div>
</div>

