<div class="container-fluid row map" style="padding-top: 0px; height: 400px; background-image: url('https://raw.githubusercontent.com/185SE14THST/ng-telecom-sprynt-tower-management/master/sample2.jpg'); background-repeat: no-repeat; background-position: center center; background-repeat: no-repeat; background-attachment: inherit; background-size: cover;"></div>

 <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
	 <strong>WARNING! </strong> <a href="#">WA-DC-20037-05BT utilization performance degraded (75% / Weather ).</a>
</div>


<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#01" role="tab"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Activity</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" data-toggle="tab" href="#02" role="tab"><i class="fa fa-wrench fa-fw" aria-hidden="true"></i>&nbsp;Management&nbsp;<span class="badge badge-pill badge-danger">8 requests</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" data-toggle="tab" href="#03" role="tab"><i class="fa fa-truck fa-fw" aria-hidden="true"></i>&nbsp;Dispatch&nbsp;<span class="badge badge-pill badge-primary">2 enroute</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" data-toggle="tab" href="#04" role="tab"><i class="fa fa-clipboard fa-fw" aria-hidden="true"></i>&nbsp;Reporting&nbsp;<span class="badge badge-pill badge-info">3/8 reports ready</span></a>
  </li>
    <li class="nav-item">
    <a class="nav-link disabled" data-toggle="tab" href="#05" role="tab"><i class="fa fa-history fa-fw" aria-hidden="true"></i>&nbsp;History</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane active" id="01" role="tabpanel"><data>Loading data...</data></div>
  <div class="tab-pane" id="02" role="tabpanel">...</div>
  <div class="tab-pane" id="03" role="tabpanel">...</div>
  <div class="tab-pane" id="04" role="tabpanel">...</div>
  <div class="tab-pane" id="05" role="tabpanel">...</div>
</div>